body{
    margin:0;
    padding:0;
}
header{
    margin:0;
   padding:0;
   text-align: center;
   width:100%;
}
section{
    background: #2E2E2E;
    width:100%;
    padding:0;
    margin:0;
    /* height:800px; */
}
.bg-black{
      background: rgb(0, 0, 0);
}
.bg-white{
    background:rgb(246, 241, 241);
}
.container{
    margin:auto;
    display:flex;
    padding:0;
    width:1200px;
    align-items:center;
    padding-top:30px;
}
.text-white{
    color:white;
    font-size: xx-large;
    width:50%;
    margin:0;
}
h1{
    width:100%;
}
.rwanda{
    float:right;
    width:50%;
    margin:0;
    padding:65px 0px;
}
.rwanda img{
    width:100%;
    margin:0;
    padding:0;
}
.row{}

.cla-10{
    width:10%;
}
.cla-20{
width:20%
}
.cla-30{
    width:30%
}
.cla-40{
width:40%
}
.cla-50{
    width:50%
}
.cla-60{
    width:60%;
}
.cla-70{
    width:70%;
}
.cla-80{
    width:80%;
}
.cla-90{
    width:90%
}