body {
  margin: 0;
  padding: 0;
}
header {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}
img {
  margin: 0;
  padding-top: 5px;
}
.bg-black {
  background: rgb(0, 0, 0);
}
.bg-white {
  background: rgb(246, 241, 241);
}
.text-white {
  color: rgb(246, 241, 241);
}

footer {
  margin: 0;
  padding: 50px 0px;
  text-align: center;
}
