body{
    margin:0;
    padding:0;
}
header{
   margin:0;
   padding:0;
   text-align: center;
}
.bg-grey{
     background: #2E2E2E;
     padding:20px 0;
}
.bg-black{
     background: rgb(0, 0, 0);
}
.bg-white{
    background:rgb(246, 241, 241);
}
.container{
    margin:0 auto;
    display:flex;
    width:1200px;
}
h1{
    width:100%;
    display:flex;
    font-size: 30px;
    color: white;   
    align-items: center;
}
.hills{
    color:white;
    font-size: 30px;
}
.weed{
    width:100%;
}    
.col-10{
    width:10%;
    padding:0;
    margin:0;
    float: left;
}
.col-20{
    width:20%;
    padding:0;
    margin:0;
    float: left;
}
.col-30{
    width:30%;
    padding:0;
    margin:0;
    float: left;
}
.col-40{
    width:40%;
    padding:0;
    margin:0;
    float: left;
}
.col-50{
    width:50%;
    padding:0;
    margin:0;
    float: left;
}
.col-60{
    width:60%;
    padding:0;
    margin:0;
    float: left;
}
.col-70{
    width:70%;
    padding:0;
    margin:0;
    float: left;
}
.col-80{
    width:80%;
    padding:0;
    margin:0;
    float: left;
}
.col-90{
    width:90%;
    padding:0;
    margin:0;
    float: left;
}